
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(156, 156, 167), rgb(78, 117, 117));
}
#submit{
    color: white;
}
#descricao{
   margin-right: 31%;

}
#box2{
    top: 47%;
    left: 78%;
}
.nav-link:hover, .navbar-brand:hover{
    background-color: white;

}
.navbar-brand, .nav-link, .navbar, .container-fluid{
    color: white;
    background-color: black;
 
}

.box{
    position: absolute;
    top: 20%;
    left: 78%;
    transform: translate(-20%,-20%);
    background-color: rgba(15, 21, 58, 0.77);
    color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 21%;
    
}
.box:hover{
    box-shadow: rgba(255, 254, 254, 0.425) 0px 0px 20px 20px;
}
fieldset{
    border: 2px solid black;
    padding: 5px;
    border-radius: 9px;
}
legend{
    border: 2px solid ;
    text-align: center;
    color: white;
    border-radius: 8px;
    background-color: black;

}
.banner {
    background-image: url(../resources/imagens/imagem3.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
}
#containerdesc{
    width: 100%;
    justify-content: left;
}